# Задание 1

In [51]:
import pandas as pd

ratings = pd.read_csv('ratings.csv')

def make_rating(rating):
    if rating <= 2:
        return 'низкий рейтинг'
    elif rating <= 4:
        return 'средний рейтинг'
    else:
        return 'высокий рейтинг'

ratings['class'] = ratings['rating'].apply(make_rating)
ratings.loc[100:115]

     userId  movieId  rating   timestamp            class
100       3      296     4.5  1298862418  высокий рейтинг
101       3      318     5.0  1298862121  высокий рейтинг
102       3      355     2.5  1298861589  средний рейтинг
103       3      356     5.0  1298862167  высокий рейтинг
104       3      377     2.5  1298923242  средний рейтинг
105       3      527     3.0  1298862528  средний рейтинг
106       3      588     3.0  1298922100  средний рейтинг
107       3      592     3.0  1298923247  средний рейтинг
108       3      593     3.0  1298921840  средний рейтинг
109       3      595     2.0  1298923260   низкий рейтинг
110       3      736     3.5  1298932787  средний рейтинг
111       3      778     4.0  1298863157  средний рейтинг
112       3      866     3.0  1298861687  средний рейтинг
113       3     1197     5.0  1298932770  высокий рейтинг
114       3     1210     3.0  1298921795  средний рейтинг
115       3     1235     4.0  1298861628  средний рейтинг

# Задание 2

In [52]:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']   
}

keywords = pd.read_csv('keywords.csv')

def geo_classifier(keyword):
    for region, cities in geo_data.items():
        for city in cities:
            if city in keyword:
                return region
    return 'undefined'
    
keywords['region'] = keywords['keyword'].apply(geo_classifier)

keywords.loc[21440:21450]

                                         keyword  shows          region
21440                  морской бой играть онлайн  15028       undefined
21441                                   все сдал  14563       undefined
21442                                     вагнер  14495       undefined
21443                                   moneyman  14495       undefined
21444                           лучшие мелодрамы  16026       undefined
21445                                    сахалин  14494  Дальний Восток
21446                                     артрит  14494       undefined
21447                                         ад  14493       undefined
21448                          машкины страшилки  14541       undefined
21449  когда сажать перец на рассаду в 2017 году  14526       undefined
21450                  евроспорт 2 телепрограмма  18903       undefined

# Задание 3

In [49]:
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')

years = range(1950,2011)

def production_year(title):
    k = 0
    for year in years:
        if str(year) in title:
            return year
            k = 1
    if k == 0:
        return '1900'
    
def mean_rating(data):
    return data.rating.mean()
    
    
movies['year'] = movies['title'].apply(production_year)

movies = movies[['movieId','year']].merge(ratings[['rating','movieId']], on='movieId', how='left')
movies.groupby('year').apply(mean_rating).sort_values(ascending=False)

year
1957    4.014241
1972    4.011136
1952    4.000000
1954    3.994220
1951    3.983539
          ...
2005    3.448434
2003    3.444777
1996    3.426600
1997    3.415764
2000    3.356104
Length: 62, dtype: float64