# Задание 1

In [78]:
import pandas as pd

movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')

ratings = ratings[['movieId', 'rating']][ratings.rating == 5.0].groupby('movieId').count().sort_values('rating', ascending=False).head(1)

ratings.merge(movies, on='movieId', how='left')

   movieId  rating                             title       genres
0      318     153  Shawshank Redemption, The (1994)  Crime|Drama

# Задание 2

In [91]:
power = pd.read_csv('power.csv')

power = power[(power.year >= 2005) & (power.year <= 2010) & (power.quantity > 0) & 
              ((power['country'] == 'Lithuania') | (power['country'] == 'Latvia') | (power['country'] == 'Estonia')) & 
              ((power.category == 21) | (power.category == 4) | (power.category == 12))]

power[['quantity']].sum()

#Baltics = {'Lithuania', 'Latvia', 'Estonia'}

quantity    240580.0
dtype: float64

# Задание 3

In [92]:
page_url = 'https://fortrader.org/quotes'

table_1 = pd.read_html(page_url)[0]

table_2 = pd.read_html(page_url)[1]

table_1,table_2

(                           Название   Цена  Изменение  Изменение(%)  Обновлено
 0  EURRUB Курс евро к рублю сегодня  86.77      -0.10         -0.12        NaN
 1       USDRUB Курс рубля к доллару  73.33      -0.03         -0.05        NaN,
                               Название    Цена  Изменение  Изменение(%)  \
 0       Нефть Brent Курс нефти сегодня   72.09       0.56          0.78
 1          Нефть WTI Цены на нефть WTI   68.82       0.38          0.56
 2  Природный газ Цена на природный газ    4.63       0.03          0.56
 3                                 Кофе  193.80       0.00          0.00
 4                             Кукуруза  512.40       2.20          0.43
 5                                  Соя  335.10      -0.20         -0.06
 6                               Хлопок   94.14       0.09          0.10

    Обновлено
 0        NaN
 1        NaN
 2        NaN
 3        NaN
 4        NaN
 5        NaN
 6        NaN  )